{{#course}}
<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="{{uri}}">Course</a></li>
</ol>

<h1>{{getName}}</h1>

{{#showProgress}}
<div class="course-progress-bar">
    <div class="course-progress-bar__indicator" style="width: {{progress}}%;"></div>
    <div class="course-progress-bar__text">
        <div>Your progress</div>
        <div>{{progress}}%</div>
    </div>
</div>
{{/showProgress}}

{{#hasCompleted}}
<p class="course-congratulations">
    Congratulations on completing this course!
</p>
{{/hasCompleted}}

<ol class="module-list">
{{#modules}}
    <li>
        <p>Module {{number}}</p>
        <h2>{{name}}</h2>
        <p>{{description}}</p>
        {{#available}}<p><a href="{{uri}}">Get started</a></p>{{/available}}
        {{^available}}<p><span>Available soon</span></p>{{/available}}
    </li>
{{/modules}}
</ol>
{{/course}}
