{{#course}}
<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="{{uri}}">Course</a></li>
</ol>

<h1>{{getName}}</h1>

{{#showProgress}}
<div class="course-progress-bar">
    <div class="course-progress-bar__indicator" style="width: {{progress}}%;"></div>
    <div class="course-progress-bar__text">
        <div>Your progress</div>
        <div>{{progress}}%</div>
    </div>
</div>
{{/showProgress}}

{{#hasCompleted}}
<p class="course-congratulations">
    Congratulations on completing this course! <a href="{{#course}}{{uri}}{{/course}}/certificate">Download your certificate</a>.
</p>
{{/hasCompleted}}

<h2>Curriculum</h2>

<ol class="module-list">
{{#navigation}}
    <li>
        <div>
            <h3>{{number}}. {{name}}</h3>
            <p>{{description}}</p>
        </div>
        <ol>
        {{#lessons}}
            <li><a href="{{uri}}">{{name}}</a></li>
        {{/lessons}}
        </ol>
    </li>
{{/navigation}}
</ol>
{{/course}}
