<div class="lesson-view">
    <nav>
        <ol>
            <li>{{#lesson}}{{#getCourse}}<h2><a href="{{uri}}">{{getName}}</a></h2>{{/getCourse}}{{/lesson}}</li>
        {{#navigation}}
            <li>
                <h3>{{name}}</h3>
                <ol>
                {{#lessons}}
                    <li class="{{#active}}active{{/active}}"><a href="{{uri}}"><span>{{name}}</span> {{#completed}}<i class="fas fa-check-circle" aria-label="Completed"></i>{{/completed}}</a></li>
                {{/lessons}}
                </ol>
            </li>
        {{/navigation}}
        </ol>
    </nav>
    <main>
        <div id="lesson-view"></div>
        <script>
            var courseUri = '{{#lesson}}{{#getCourse}}{{uri}}{{/getCourse}}{{/lesson}}';
            var lessonData = {{{lessonData}}};
            var userLessonData = {{{userLessonData}}};
            var previousLesson = {{{previousLesson}}};
            var nextLesson = {{{nextLesson}}};
        </script>
        <script src="{{#js}}{{LessonView}}{{/js}}"></script>

        <script src="{{#js}}{{lesson}}{{/js}}"></script>
    </main>
</div>
