<div class="lesson-view">
    <nav>
        <ol>
            <li>{{#lesson}}{{#getCourse}}<h2><a href="{{uri}}">{{getName}}</a></h2>{{/getCourse}}{{/lesson}}</li>
        {{#navigation}}
            <li>
                <h3>{{name}}</h3>
                <ol>
                {{#lessons}}
                    <li class="{{#active}}active{{/active}}"><a href="{{uri}}"><span>{{name}}</span> {{#completed}}<i class="fas fa-check-circle"></i>{{/completed}}</a></li>
                {{/lessons}}
                </ol>
            </li>
        {{/navigation}}
        </ol>
    </nav>
    <main>
        <article>
            <h1>{{#lesson}}{{getName}}{{/lesson}}</h1>

            {{#blocks}}
            <div>
                {{{html}}}
            </div>
            {{/blocks}}
        </article>

        <div class="course-navigation" role="navigation">
        {{#previousAndNext}}
            <div>{{#previousLesson}}<a href="{{uri}}">Previous lesson</a>{{/previousLesson}}</div>
            <div class="course-navigation-continue">
                {{#isMarked}}<p>This lesson is marked by your tutor</p>{{/isMarked}}
                {{^isMarked}}
                <form method="post">
                    {{#hasCompleted}}
                    <button type="submit" class="btn">Mark as incomplete</button>
                    {{/hasCompleted}}
                    {{^hasCompleted}}
                    <button type="submit" class="btn">Complete and continue</button>
                    <input type="hidden" name="continue" value="true">
                    {{/hasCompleted}}
                </form>
                {{/isMarked}}
            </div>
            <div>{{#nextLesson}}<a href="{{uri}}">Next lesson</a>{{/nextLesson}}</div>
        {{/previousAndNext}}
        </div>

        <script src="/js/lesson.js"></script>
    </main>
</div>
