@use '_core' as *;

.alert {
    color: #fff;
    font-weight: bold;
    padding: $baseline;
}

.alert-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-danger {
    background: #D2253E;
}

.alert-success {
    background: #1C9E36;
}
