@use '_core' as *;

.badge {
    border-radius: $baseline / 4;
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    padding: ($baseline / 6) ($baseline / 3);
}

.badge-secondary {
    background-color: #0096c7;
    color: #fff;
}


.badge-info {
    background-color: #90e0ef;
}
