$baseline: 24px;

$primaryColour: #023e8a;
$secondaryColour: #0077b6;
$tertiaryColour: #0096c7;

a:link, a:visited {
    color: $primaryColour;
}

a:hover, a:active {
    color: $secondaryColour;
}

body {
    font-family: "Noto Sans JP", helvetica, sans-serif;
}

img {
    max-width: 100%;
}

.mb-1 { margin-bottom: $baseline / 4; }
.mb-3 { margin-bottom: $baseline; }

.mr-1 { margin-right: $baseline / 4; }
