@use '_core' as *;
@use '_cards';

.cm-block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        padding: ($baseline / 4) ($baseline / 2);
    }
}

.cm-close {
    all: unset;
}

.cm-card {
    @extend .card;
    margin-bottom: $baseline;

    textarea {
        width: 100%;
    }
}

.cm-form-grid {
    align-items: center;
    display: grid;
    grid-gap: $baseline / 2;
    grid-template-columns: 1fr 3fr;

    div {
        display: contents;
    }

    .cm-form-grid-buttons {
        display: block;
        grid-column: 1 / span 2;
    }
}

.cm-card-header {
    @extend .card-header;

    h2 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.cm-card-body {
    @extend .card-body;
}

.cm-loading {
    text-align: center;
    padding: $baseline * 2;
}

.cm-modal {
    background-color: #fff;
    border: #999 1px solid;
    box-sizing: border-box;
    filter: drop-shadow(10px 10px 10px #999);
    left: 10%;
    padding: $baseline;
    position: absolute;
    width: 80%;
    z-index: 1;

    h3 {
        margin-top: 0;
    }
}

.cm-table {
    margin-bottom: $baseline;
    width: 100%;

    td {
        border-top: #ccc 1px solid;
        padding: $baseline / 2;
    }

    td:first-child {
        width: 35%;
    }
}
