@use '_core' as *;

%button {
    background-color: $secondaryColour;
    border: $secondaryColour 1px solid;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 $baseline;
    text-decoration: none;
    vertical-align: middle;
}

%button-hover {
    background-color: $tertiaryColour;
    border: $tertiaryColour 1px solid;
    text-decoration: none;
}

%input {
    border: $secondaryColour 1px solid;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    height: 50px;
    padding: $baseline / 2;
    vertical-align: middle;
}

%select-input {
    @extend %input;
    -webkit-appearance: none;
    background: url(data:image/webp;base64,UklGRpwAAABXRUJQVlA4TI8AAAAvD8ADEHU4rG03bZSkzMzMjPtPx7CAvmSrEQwZSRI0BoNwCIvwCIvwyI2yCD0B/P3XvfYZuy7l8B09sO8jp0exvrW2ZtV7usZsffN/ptmUSW8wxcz+PNrBDXQD+qUwBjjnR0th7kz72jrfHOfbOg++rU/1qkIVUKbcL70CBQFY6fHjbNOkhVd+Nt4IZcqPAgA=);
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: $baseline * 2;
}

a.btn, button.btn {
    @extend %button;
}

a.btn:hover, button.btn:hover {
    @extend %button-hover;
}

input.form-control {
    @extend %input;
}

select.form-control {
    @extend %select-input;
}

form.form-vertical {
    width: 100%;

    button {
        @extend %button;
        border-radius: $baseline / 6;
    }

    button:hover {
        @extend %button-hover;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="file"], textarea {
        @extend %input;
        border-radius: $baseline / 6;
        margin-bottom: $baseline / 2;
        width: 100%;
    }

    select {
        @extend %select-input;
        border-radius: $baseline / 6;
        margin-bottom: $baseline / 2;
        width: 100%;
    }

    small {
        color: #666;
    }

    textarea {
        height: ($baseline * 6);
    }

    label {
        display: block;
        margin-bottom: $baseline / 4;
    }
}
