@use '_core' as *;

%button {
    background-color: #0077b6;
    border: #0077b6 1px solid;
    color: #fff;
    font-size: 100%;
    padding: $baseline / 2;
}

%input {
    border: #0077b6 1px solid;
    font-size: 100%;
    padding: $baseline / 2;
}

button.btn {
    @extend %button;
}

input.form-control {
    @extend %input;
}

select.form-control {
    @extend %input;
}

form.form-vertical {
    max-width: 500px;

    button {
        @extend %button;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="file"], textarea {
        @extend %input;
        box-sizing: border-box;
        margin-bottom: $baseline / 2;
        width: 100%;
    }

    label {
        display: block;
    }
}