@use '_core' as *;

%button {
    background-color: $secondaryColour;
    border: $secondaryColour 1px solid;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 $baseline;
    text-decoration: none;
    vertical-align: middle;
}

%button-hover {
    background-color: $tertiaryColour;
    border: $tertiaryColour 1px solid;
    text-decoration: none;
}

%input {
    border: $secondaryColour 1px solid;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    height: 50px;
    padding: $baseline / 2;
    vertical-align: middle;
}

a.btn, button.btn {
    @extend %button;
}

a.btn:hover, button.btn:hover {
    @extend %button-hover;
}

input.form-control {
    @extend %input;
}

select.form-control {
    @extend %input;
}

form.form-vertical {
    width: 100%;

    button {
        @extend %button;
        border-radius: $baseline / 6;
    }

    button:hover {
        @extend %button-hover;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="file"], select, textarea {
        @extend %input;
        border-radius: $baseline / 6;
        margin-bottom: $baseline / 2;
        width: 100%;
    }

    textarea {
        height: ($baseline * 6);
    }

    label {
        display: block;
        margin-bottom: $baseline / 4;
    }
}
