@use '_core' as *;

body {
    margin: $baseline;
}

footer {
    border: #999 1px solid;
    padding: $baseline;

    a:link, a:visited, a:hover, a:active {
        color: #000;
        text-decoration: underline;
    }

    hr {
        display: none;
    }
}

header {
    border: #999 1px solid;
    font-size: 200%;
    padding: $baseline;

    a:link, a:visited, a:hover, a:active {
        color: #000;
        text-decoration: none;
    }

    hr {
        display: none;
    }
}

main {
    padding: $baseline;

    article {
        max-width: 700px;

        h1 {
            font-size: 200%;
        }
    }
}
