@use '_core' as *;

body {
    margin: 0;
}

footer {
    background-color: #eee;
    padding: $baseline * 2;
    text-align: center;

    a:link, a:visited, a:hover, a:active {
        color: #000;
        text-decoration: underline;
    }

    hr {
        display: none;
    }
}

header {
    background-color: #333;

    a:link, a:visited, a:hover, a:active {
        color: #fff;
        text-decoration: none;
    }

    hr {
        display: none;
    }
}

main {
    padding: $baseline;
}

.course-view {
    article {
        h1 {
            font-size: 200%;
            margin-top: 0;
        }

        p {
            max-width: 700px;
        }
    }
    header {
        box-sizing: border-box;
        color: #fff;
        display: flex;
        font-size: 160%;
        height: 75px;
        justify-content: space-between;
        line-height: 75px;
        overflow: hidden;
        padding: 0 $baseline;

        button {
            all: unset;

            @media only screen and (min-width: 700px) {
                display: none;
            }
        }
    }

    main {
        position: fixed;
        bottom: 0;
        left: 0;
        top: 75px;
        right: 0;
        overflow: auto;

        @media only screen and (min-width: 700px) {
            left: 300px;
        }
    }

    nav {
        background-color: #eee;
        bottom: 0;
        overflow: auto;
        position: fixed;
        top: 75px;
        width: 0%;
        z-index: 10;
        transition: width .25s;

        &.active {
            width: 100%;
        }

        @media only screen and (min-width: 700px) {
            width: 300px;
        }

        a {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: $baseline / 2 $baseline;
        }

        a:link, a:visited, a:hover, a:active {
            color: #333;
            text-decoration: none;
        }

        a:hover, a:active {
            background-color: darken(#eee, 10%);
        }

        h2 {
            margin: 0;
        }

        h3 {
            margin: 0;
            padding: $baseline / 2 $baseline;
        }

        ol {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
            }

            li.active {
                background-color: lighten(#eee, 10%);
            }
        }
    }
}

.site-view {
    header {
        align-items: center;
        font-size: 200%;
        text-align: center;
        padding: $baseline * 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div.logo {
            height: 150px;
            margin-bottom: $baseline;
            width: 300px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    main {
        margin: 0 auto;
        max-width: 700px;
        padding: $baseline;
    }
}
