@use '_core' as *;

$outlineColour: #999;

.tabs {
    border-bottom: $outlineColour 1px solid;
    padding: 0;

    li {
        display: inline-block;
        list-style-type: none;
        margin-bottom: -1px;
        padding: $baseline / 2;

        a:link, a:visited {
            text-decoration: none;
        }

        a:hover, a:active {
            text-decoration: underline;
        }
    }

    li.active {
        background-color: #fff;
        border-left: $outlineColour 1px solid;
        border-top: $outlineColour 1px solid;
        border-right: $outlineColour 1px solid;
    }
}
