<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/account">Account</a></li>
</ol>

<h1>My account</h1>

<h2>Change password</h2>

<form method="post" class="form-vertical">
    <label for="old">Current password</label>
    <input type="password" name="old" id="old">

    <label for="new">New password</label>
    <input type="password" name="new" id="new">

    <label for="confirm">Confirm new password</label>
    <input type="password" name="confirm" id="confirm">

    <button>Change password</button>
</form>
