<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/files">Files</a></li>
</ol>

<h1>Files</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Filename</th>
            <th>Options</th>
    </thead>
    <tbody>
    {{#files}}
        <tr>
            <td>{{getName}}</td>
            <td>{{getFilename}}</td>
            <td><a href="/admin/files/{{getId}}">View</a></td>
        </tr>
    {{/files}}
    </tbody>
</table>

<h2>Upload a file</h2>

<form method="post" enctype="multipart/form-data" class="form-vertical">
    <label for="file">File</label>
    <input type="file" id="file" name="file" class="form-control">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name" class="form-control">

    <input type="hidden" name="action" value="upload">
    <button type="submit" class="btn">Upload</button>
</form>
