<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/files">Files</a></li>
</ol>

<h1>Files</h1>

<p>
    <a href="/admin/files">Root</a>
    {{#tree}} &raquo; <a href="/admin/files?folder={{getId}}">{{getName}}</a>{{/tree}}
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 18px;">&nbsp;</th>
            <th>Name</th>
            <th>Filename</th>
    </thead>
    <tbody>
    {{#folders}}
        <tr>
            <td class="text-centre"><i class="fas fa-folder-open" aria-label="Folder"</i></td>
            <td colspan="2"><a href="/admin/files?folder={{getId}}">{{getName}}</a></td>
        </tr>
    {{/folders}}
    {{#files}}
        <tr>
            <td class="text-centre"><i class="fas fa-file-alt" aria-label="File"></i></td>
            <td><a href="/admin/files/{{getId}}">{{getName}}</a></td>
            <td><a href="/admin/files/{{getId}}">{{getFilename}}</a></td>
        </tr>
    {{/files}}
    {{#isEmpty}}
        <tr>
            <td colspan="3">
                No files uploaded
            </td>
        </tr>
    {{/isEmpty}}
    </tbody>
</table>

<h2>Upload a file</h2>

<form method="post" enctype="multipart/form-data" class="form-vertical">
    <label for="file">File</label>
    <input type="file" id="file" name="file" class="form-control">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Name" class="form-control">

    <input type="hidden" name="action" value="upload">
    <button type="submit" class="btn">Upload</button>
</form>

<h2>Create folder</h2>

<form method="post">
    <label for="folderName">Name</label>
    <input type="text" name="name" id="folderName" class="form-control mr-1" maxlength="128">
    <input type="hidden" name="action" value="folder">
    <button type="submit" class="btn">Create</button>
</form>
