{{#fileObj}}
<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/files">Files</a></li>
</ol>

<h1>{{getName}}</h1>

<ul class="tabs">
    <li class="active"><a href="/admin/files/{{getId}}">View</a></li>
    <li><a href="/admin/files/{{getId}}/edit">Edit</a></li>
    <li><a href="/admin/files/{{getId}}/usage">Usage</a></li>
</ul>

<div class="card">
    <div class="card-body">
        <a href="/content/files/{{getFilename}}" target="_blank">{{getFilename}}</a><br>
        {{getMediaType}}<br>
        {{fileSize}}
    </div>
</div>

<h2>Upload a new version</h2>

<form method="post" enctype="multipart/form-data">
    <label for="file">File</label>
    <input type="file" id="file" name="file" class="form-control">

    <input type="hidden" name="action" value="replace">
    <button type="submit" class="btn">Upload</button>
</form>
{{/fileObj}}
