<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SITE_NAME" value="Kuusamo" />
        <env name="FAVICON" value="/test/favicon.ico" />
    </php>
</phpunit>
