<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/images">Images</a></li>
</ol>

<h1>Images</h1>

<form method="get" class="mb-3">
    <input type="text" name="q" aria-label="Search query" value="{{query}}" class="form-control mr-1">
    <button class="btn" type="submit">Search</button>
</form>

<div class="admin-image-gallery">
{{#images}}
    <div>
        <a href="/admin/images/{{getId}}"><img src="/content/images/crops/150/{{getFilename}}" alt="{{getFilename}}"></a>
    </div>
{{/images}}
</div>

<p>
    <a href="/admin/images/upload" class="btn">Upload new image</a>
</p>