<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/images">Images</a></li>
</ol>

<h1>Images</h1>

<div class="admin-two-buttons">
    <form action="/admin/images" method="get" class="mb-3">
        <input type="text" name="q" aria-label="Search query" value="{{query}}" class="form-control mr-1">
        <button class="btn" type="submit">Search</button>
    </form>
    <a href="/admin/images/upload" class="btn">Upload new image</a>
</div>

{{#images}}
<div class="admin-image-gallery">
{{#results}}
    <div>
        <a href="/admin/images/{{getId}}"><img src="/content/images/crops/150/{{getFilename}}" alt="{{getFilename}}"></a>
    </div>
{{/results}}
</div>

{{#hasPages}}
<ol class="pagination">
    {{#pages}}<li><a href="?q={{query}}&amp;page={{number}}" class="{{#active}}active{{/active}}">{{number}}</a></li>{{/pages}}
</ol>
{{/hasPages}}

{{^hasResults}}
<div class="card">
    <div class="card-body">
        No images found
    </div>
</div>
{{/hasResults}}
{{/images}}

<p>
    <a href="/admin/images/upload" class="btn">Upload new image</a>
</p>