<ol class="breadcrumbs">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/images">Images</a></li>
    <li><a href="/admin/images/upload">Upload</a></li>
</ol>

<h1>Upload image</h1>

<form action="" method="post" enctype="multipart/form-data" class="form-vertical">
    <label for="file">File</label>
    <input type="file" id="file" name="file">

    <label for="description">Description</label>
    <textarea id="description" name="description" placeholder="Description" rows="2">{{getDescription}}</textarea>

    <label for="keywords">Keywords</label>
    <textarea id="keywords" name="keywords" placeholder="Keywords" rows="2">{{getKeywords}}</textarea>

    <button type="submit" class="btn">Upload</button>
</form>
