<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/images">Images</a></li>
</ol>

{{#image}}
<h1>{{getOriginalFilename}}</h1>

<ul class="tabs">
    <li class="active"><a href="/admin/images/{{getId}}">View</a></li>
    <li><a href="/admin/images/{{getId}}/edit">Edit</a></li>
</ul>

<p>
    <img src="/content/images/crops/700/{{getFilename}}" alt="{{getDescription}}">
</p>

<p>
    <a href="/content/images/originals/{{getFilename}}">View original in {{getWidth}} x {{getHeight}}</a>
</p>
{{/image}}
