<ol class="breadcrumbs">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/images">Images</a></li>
</ol>

{{#image}}
<h1>{{getFilename}}</h1>

<form method="post" class="form-vertical">
    <label for="filename">Filename</label>
    <input type="text" id="filename" name="filename" value="{{getFilename}}" disabled>

    <label for="mediaType">Media Type</label>
    <input type="text" id="mediaType" name="mediaType" value="{{getMediaType}}" disabled>

    <label for="mediaType">Size</label>
    <input type="text" id="mediaType" name="mediaType" value="{{getWidth}}x{{getHeight}}" disabled>

    <label for="description">Description</label>
    <textarea id="description" name="description" placeholder="Description" rows="2">{{getDescription}}</textarea>

    <label for="keywords">Keywords</label>
    <textarea id="keywords" name="keywords" placeholder="Keywords" rows="2">{{getKeywords}}</textarea>

    <input type="hidden" name="action" value="edit">
    <button type="submit" class="btn">Save</button>
</form>

<h2>Delete</h2>

<form method="post" class="form-vertical">
    <input type="hidden" name="action" value="delete">
    <button>Delete</button>
</form>
{{/image}}
