<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/users">Users</a></li>
</ol>

{{#user}}
<h1>{{getFullname}}</h1>

<ul class="tabs">
    <li><a href="/admin/users/{{getId}}">View</a></li>
    <li class="active"><a href="/admin/users/{{getId}}/account">Account</a></li>
    <li><a href="/admin/users/{{getId}}/security">Security</a></li>
    <li><a href="/admin/users/{{getId}}/delete">Delete</a></li>
</ul>

<form method="post" class="form-vertical">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" value="{{getEmail}}" class="form-control">

    <label for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName" value="{{getFirstName}}" class="form-control">

    <label for="surname">Surname</label>
    <input type="text" name="surname" id="surname" value="{{getSurname}}" class="form-control">

    <label for="status">Status</label>
    <select name="status" id="status" class="form-control">
    {{#status}}<option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>{{/status}}
    </select>

    <label for="notes">Notes</label>
    <textarea name="notes" id="notes" class="form-control">{{getNotes}}</textarea>

  <button type="submit" class="btn">Update</button>
</form>
{{/user}}