<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/users">Users</a></li>
</ol>

{{#user}}
<h1>Create user</h1>

<form method="post" class="form-vertical">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" value="{{getEmail}}" class="form-control">

    <label for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName" value="{{getFirstName}}" class="form-control">

    <label for="surname">Surname</label>
    <input type="text" name="surname" id="surname" value="{{getSurname}}" class="form-control">

  <button type="submit" class="btn">Create</button>
</form>
{{/user}}
