<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/users">Users</a></li>
</ol>

<h1>Users</h1>

{{#users}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Options</th>
    </thead>
    <tbody>
    {{#results}}
        <tr>
            <td>{{getFullName}}</td>
            <td>{{getEmail}}</td>
            <td><a href="/admin/users/{{getId}}">View</a></td>
        </tr>
    {{/results}}
    </tbody>
</table>

{{#hasPages}}
<ol class="pagination">
    {{#pages}}<li><a href="?page={{number}}" class="{{#active}}active{{/active}}">{{number}}</a></li>{{/pages}}
</ol>
{{/hasPages}}
{{/users}}

<p>
    <a href="/admin/users/create" class="btn">Create new user</a>
</p>
