{{% FILTERS}}
<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/users">Users</a></li>
</ol>

<h1>Users</h1>

<form action="/admin/users" method="get" class="mb-3">
    <input type="text" name="q" aria-label="Search query" value="{{query}}" class="form-control mr-1">
    <button class="btn" type="submit">Search</button>
</form>

{{#users}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Last Login</th>
    </thead>
    <tbody>
    {{#results}}
        <tr>
            <td><a href="/admin/users/{{getId}}">{{getFullName}}{{^getFullName}}User #{{getId}}{{/getFullName}}</a> {{#getRoles}}<span class="badge badge-info">{{getId}}</span>{{/getRoles}}</td>
            <td>{{getEmail}}</td>
            <td>{{getLastLogin | date.iso}}{{^getLastLogin}}Never{{/getLastLogin}}</td>
        </tr>
    {{/results}}
    {{^hasResults}}
        <tr>
            <td colspan="3">
                No results found. <a href="/admin/users">Reset search</a>.
            </td>
        </tr>
    {{/hasResults}}
    </tbody>
</table>

{{#hasPages}}
<ol class="pagination">
    {{#pages}}<li><a href="?page={{number}}" class="{{#active}}active{{/active}}">{{number}}</a></li>{{/pages}}
</ol>
{{/hasPages}}
{{/users}}

<p>
    <a href="/admin/users/create" class="btn">Create new user</a>
</p>
