{{%FILTERS}}

<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/users">Users</a></li>
</ol>

{{#user}}
<h1>{{getFullname}}</h1>

<ul class="tabs">
    <li class="active"><a href="/admin/users/{{getId}}">View</a></li>
    <li><a href="/admin/users/{{getId}}/account">Account</a></li>
    <li><a href="/admin/users/{{getId}}/security">Security</a></li>
    <li><a href="/admin/users/{{getId}}/roles">Roles</a>
    <li><a href="/admin/users/{{getId}}/delete">Delete</a></li>
</ul>

<div class="card card-body admin-user-profile">
    <div><img src="https://www.gravatar.com/avatar/{{gravatar}}" alt="Gravatar"></div>
    <div>
        <a href="mailto:{{getEmail}}">{{getEmail}}</a><br>
        Last login: {{getLastLogin | date.long}}{{^getLastLogin}}Never{{/getLastLogin}}<br>
        User ID: {{getId}}
    </div>
</div>

{{#hasCourses}}
<h2>Enrolled courses</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody>
    {{#getCourses}}
        <tr>
            <td><a href="/admin/courses/{{#getCourse}}{{getId}}{{/getCourse}}/students/{{getId}}">{{#getCourse}}{{getName}}{{/getCourse}}</a></td>
            <td>{{getStart | date.iso}}</td>
            <td>{{getProgress}}%</td>
        </tr>
    {{/getCourses}}
    </tbody>
</table>
{{/hasCourses}}
{{/user}}