<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
</ol>

<h1>Admin dashboard</h1>

<ul class="tabs">
    <li class="active"><a href="/admin">Courses</a></li>
    <li><a href="/admin/images">Images</a></li>
    <li><a href="/admin/files">Files</a></li>
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/awarding-bodies">Awarding bodies</a></li>
    <li><a href="/admin/api-keys">API keys</a></li>
    <li><a href="/admin/settings">Settings</a></li>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
    {{#courses}}
        <tr>
            <td><a href="/admin/courses/{{getId}}">{{getName}}</a></td>
            <td><a href="/course/{{getSlug}}" target="_blank">Preview</a></td>
        </tr>
    {{/courses}}
    {{^courses}}
        <tr>
            <td>
                No courses exist
            </td>
        </tr>
    {{/courses}}
    </tbody>
</table>

<p>
    <a href="/admin/courses/create" class="btn">Create new course</a>
</p>

<h2>System information</h2>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>Kuusamo version</td>
            <td>{{kuusamoVersion}}</td>
        </tr>
        <tr>
            <td>PHP version</td>
            <td>{{phpVersion}} [ <a href="/admin/phpinfo" target="_blank">Info</a> ]</td>
        </tr>
    </tbody>
</table>
