<ol class="breadcrumbs">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
</ol>

<h1>Admin dashboard</h1>

<ul class="tabs">
    <li class="active"><a href="/admin">Courses</a></li>
    <li><a href="/admin/images">Images</a></li>
    <li><a href="/admin/files">Files</a></li>
</ul>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {{#courses}}
        <tr>
            <td><a href="/admin/courses/{{getId}}">{{getName}}</a></td>
        </tr>
    {{/courses}}
    </tbody>
</table>

<p>
    <a href="/admin/courses/create" class="btn">Create new course</a>
</p>
