{{#course}}
<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/courses/{{getId}}">Course</a></li>
</ol>

<h1>{{getName}}</h1>

<ul class="tabs">
    <li><a href="/admin/courses/{{getId}}">Overview</a></li>
    <li><a href="/admin/courses/{{getId}}/lessons">Lessons</a></li>
    <li><a href="/admin/courses/{{getId}}/students">Students</a></li>
    <li class="active"><a href="/admin/courses/{{getId}}/edit">Edit</a></li>
    <li><a href="/admin/courses/{{getId}}/delete">Delete</a></li>
    <li><a href="/course/{{getSlug}}" target="_blank">Preview</a></li>
</ul>

<form method="post" class="form-vertical">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" maxlength="128" value="{{getName}}" class="form-control">

    <label for="slug">URI</label>
    <input type="text" name="slug" id="slug" maxlength="128" value="{{getSlug}}" class="form-control">

    <label for="qualification">Qualification <small>Used for certificates, leave blank to use the course name</small></label>
    <input type="text" name="qualification" id="qualification" maxlength="128" value="{{getQualification}}" class="form-control">

    <label for="awardingBody">Awarding body</label>
    <select name="awardingBody" id="awardingBody" class="form-control">
    {{#awardingBody}}<option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>{{/awardingBody}}
    </select>

    <label for="image">Image ID</label>
    <input type="text" name="image" id="image" value="{{#getImage}}{{getId}}{{/getImage}}" class="form-control">

    <label for="welcomeText">Welcome text <small>Supports Markdown</small></label>
    <textarea name="welcomeText" id="welcomeText" class="form-control">{{getWelcomeText}}</textarea>

    <button type="submit" class="btn">Update</button>
</form>
{{/course}}
