{{#course}}
<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/courses/{{getId}}">Course</a></li>
</ol>

<h1>{{getName}}</h1>

<ul class="tabs">
    <li><a href="/admin/courses/{{getId}}">Overview</a></li>
    <li><a href="/admin/courses/{{getId}}/lessons">Lessons</a></li>
    <li class="active"><a href="/admin/courses/{{getId}}/students">Students</a></li>
    <li><a href="/admin/courses/{{getId}}/edit">Edit</a></li>
    <li><a href="/admin/courses/{{getId}}/delete">Delete</a></li>
    <li><a href="/course/{{getSlug}}" target="_blank">Preview</a></li>
</ul>

<form action="" method="get" class="form-inline-wide mb-3">
    <input type="text" name="q" aria-label="Search query" value="{{query}}" class="form-control mr-1">
    <button class="btn" type="submit">Search</button>
</form>

{{#students}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody>
    {{#results}}
        <tr>
            <td>{{#getUser}}<a href="students/{{getId}}">{{getFullName}}</a>{{/getUser}}</td>
            <td>{{getProgress}}%</td>
        </tr>
    {{/results}}
    {{^hasResults}}
        <tr>
            <td colspan="2">No students enrolled</td>
        </tr>
    {{/hasResults}}
    </tbody>
</table>

{{#hasPages}}
<ol class="pagination">
    {{#pages}}<li><a href="?page={{number}}" class="{{#active}}active{{/active}}">{{number}}</a></li>{{/pages}}
</ol>
{{/hasPages}}
{{/students}}

<h2>Enrol a new student</h2>

<form method="post" class="form-inline-wide">
    <div class="autocomplete mr-1" id="autocomplete">
        <input type="text" name="userId" id="userId" class="form-control" placeholder="User ID">
    </div>
    <button type="submit" class="btn">Enrol</button>
</form>

<script src="/js/axios.js"></script>
<script>
    function formatUser(user) {
        var string = '';

        if (user.firstName) {
            string += '<strong>' + user.firstName + '</strong> ';
        }

        if (user.surname) {
            string += '<strong>' + user.surname + '</strong> ';
        }

        return string + user.email;
    }

    function autocomplete(selector) {
        var element = document.querySelector(selector);
        var input = element.querySelector('input');
        var suggestionList = document.createElement('ol');

        element.appendChild(suggestionList);

        input.onkeyup = function(event) {
            if (event.target.value.length > 0) {
                axios.get('/admin/autocomplete/users?q=' + encodeURIComponent(event.target.value)).then(function(response) {
                    suggestionList.innerHTML = '';

                    response.data.map(function(item) {
                        var listItem = document.createElement('li');
                        listItem.innerHTML = formatUser(item);
                        listItem.setAttribute('data-id', item.id);
                        listItem.onclick = function(event) {
                            input.value = event.currentTarget.getAttribute('data-id');
                            suggestionList.innerHTML = '';
                        }
                        suggestionList.appendChild(listItem);
                    });
                });
            } else {
                suggestionList.innerHTML = '';
            }
        }

    }

    autocomplete('#autocomplete');
</script>
{{/course}}
