{{#course}}
<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/courses/{{getId}}">Course</a></li>
</ol>

<h1>{{getName}}</h1>

<ul class="tabs">
    <li class="active"><a href="/admin/courses/{{getId}}">Overview</a></li>
    <li><a href="/admin/courses/{{getId}}/lessons">Lessons</a></li>
    <li><a href="/admin/courses/{{getId}}/students">Students</a></li>
    <li><a href="/admin/courses/{{getId}}/edit">Edit</a></li>
    <li><a href="/admin/courses/{{getId}}/delete">Delete</a></li>
</ul>

<p>
    Welcome to the course overview. Select a tab above to get started.
</p>
{{/course}}
