{{%FILTERS}}
{{#course}}
<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/courses/{{getId}}">Course</a></li>
</ol>

<h1>{{getName}}</h1>

<ul class="tabs">
    <li><a href="/admin/courses/{{getId}}">Overview</a></li>
    <li><a href="/admin/courses/{{getId}}/lessons">Lessons</a></li>
    <li class="active"><a href="/admin/courses/{{getId}}/students">Students</a></li>
    <li><a href="/admin/courses/{{getId}}/edit">Edit</a></li>
    <li><a href="/admin/courses/{{getId}}/delete">Delete</a></li>
    <li><a href="/course/{{getSlug}}" target="_blank">Preview</a></li>
</ul>
{{/course}}

<h2>{{#student}}{{getFullName}} [ <a href="/admin/users/{{getId}}">Profile</a> ]{{/student}}</h2>

<table class="table">
    {{#lessonList}}
    <thead>
        <tr>
            <th colspan="3">{{name}}</th>
        </tr>
    </thead>
    <tbody>
        {{#lessons}}
        <tr>
            <td>{{name}}</td>
            <td>{{#completed}}<i class="fas fa-check-circle" aria-label="Completed"></i>{{/completed}}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="action" value="toggle">
                    <input type="hidden" name="lesson" value="{{id}}">
                    <button type="submit" class="btn btn-sm">Toggle</button>
                </form>
            </td>
        </tr>
        {{/lessons}}
    </tbody>
    {{/lessonList}}
</table>

{{#enrolment}}
<h2>Enrolment information</h2>

<p>
    {{#student}}{{getFirstName}}{{/student}} joined the course on {{getStart | date.long}}. Current progress {{getProgress}}%. {{#getCompleted}}Completed {{. | date.long}}.{{/getCompleted}}
</p>

{{#getCompleted}}{{#course}}{{#isCertificateAvailable}}
<p>
    <a href="/admin/courses/{{getId}}/students/{{#student}}{{getId}}{{/student}}/certificate">Download the certificate</a>.
</p>
{{/isCertificateAvailable}}{{/course}}{{/getCompleted}}

<form method="post">
    <input type="hidden" name="action" value="complete">
    <button class="btn btn-danger">Mark as {{#getCompleted}}in{{/getCompleted}}complete</button>
</form>
{{/enrolment}}

<h2>Unenrol</h2>

<p>
    This will remove the user's access to the course.
</p>

<form method="post">
    <input type="hidden" name="action" value="unenrol">
    <button class="btn btn-danger">Unenrol</button>
</form>
