<ol class="breadcrumbs">
    <li><a href="/">Dashboard</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/awarding-bodies">Awarding bodies</a></li>
</ol>

{{#body}}
<h1>{{getName}}</h1>

<ul class="tabs">
    <li><a href="/admin/awarding-bodies/{{getId}}">Overview</a></li>
    <li><a href="/admin/awarding-bodies/{{getId}}/accreditations">Accreditations</a></li>
    <li><a href="/admin/awarding-bodies/{{getId}}/edit">Edit</a></li>
    <li class="active"><a href="/admin/awarding-bodies/{{getId}}/delete">Delete</a></li>
</ul>

<p>
    Note that the delete will fail if this awarding body is currently accrediting any courses or other awarding bodies.
</p>

<form method="post">
    <button type="submit" class="btn">Delete awarding body</button>
</form>
{{/body}}
