a:link, a:visited {
  color: #023e8a;
}

a:hover, a:active {
  color: #0077b6;
}

body {
  font-family: "Noto Sans JP", helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.mb-3 {
  margin-bottom: 24px;
}

.mr-1 {
  margin-right: 6px;
}

.admin-image-gallery {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 180px);
}
.admin-image-gallery div {
  border: #ccc 1px solid;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}

.admin-user-profile {
  display: flex;
}
.admin-user-profile div:first-child {
  flex-shrink: 0;
  margin-right: 24px;
}

.alert {
  color: #fff;
  font-weight: bold;
  padding: 24px;
}

.alert-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-danger {
  background: #D2253E;
}

.alert-success {
  background: #1C9E36;
}

.auth-options {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.auth-options > div {
  background: #eee;
  border-radius: 6px;
  padding: 24px;
}
.auth-options > div h2 {
  font-size: 100%;
  margin-top: 0;
  text-align: left;
}

.badge {
  border-radius: 6px;
  display: inline-block;
  font-size: 75%;
  font-weight: bold;
  padding: 4px 8px;
}

.badge-secondary {
  background-color: #0096c7;
  color: #fff;
}

.badge-info {
  background-color: #90e0ef;
}

ol.breadcrumbs {
  color: #666;
  padding: 0;
}
ol.breadcrumbs a:link, ol.breadcrumbs a:visited, ol.breadcrumbs a:hover, ol.breadcrumbs a:active {
  color: #666;
  text-decoration: none;
}
ol.breadcrumbs li {
  display: inline-block;
  list-style-type: none;
}
ol.breadcrumbs li::before {
  content: "> ";
}
ol.breadcrumbs li:first-child::before {
  content: "";
}

.card, .cm-card {
  border: #ccc 1px solid;
  border-radius: 6px;
}

.card-header, .cm-card-header {
  background-color: #f2f3f4;
  padding: 24px;
}

.card-body, .cm-card-body {
  padding: 24px;
}

.course-congratulations {
  background-color: #90e0ef;
  border-radius: 6px;
  margin: 24px 0;
  padding: 24px;
}

.course-navigation {
  align-items: center;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
}
.course-navigation div:last-child {
  text-align: right;
}
.course-navigation .course-navigation-continue {
  grid-column: 1/span 2;
  grid-row-start: 1;
}
.course-navigation .course-navigation-continue button {
  width: 100%;
}
.course-navigation .course-navigation-continue p {
  background-color: #eee;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .course-navigation {
    grid-template-columns: auto 1fr auto;
  }
  .course-navigation .course-navigation-continue {
    grid-column: auto;
    grid-row-start: auto;
  }
}

.course-progress-bar {
  background-color: #eee;
  border-radius: 6px;
  height: 50px;
  margin-bottom: 24px;
  position: relative;
}
.course-progress-bar .course-progress-bar__indicator {
  background-color: #90e0ef;
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.course-progress-bar .course-progress-bar__text {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  padding: 0 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.cm-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cm-block-header button {
  padding: 6px 12px;
}

.cm-close {
  all: unset;
}

.cm-card {
  margin-bottom: 24px;
}
.cm-card textarea {
  width: 100%;
}

.cm-card-header h2 {
  margin: 0;
}
.cm-card-header p {
  margin: 0;
}

.cm-loading {
  text-align: center;
  padding: 48px;
}

.cm-modal {
  background-color: #fff;
  border: #999 1px solid;
  box-sizing: border-box;
  filter: drop-shadow(10px 10px 10px #999);
  left: 10%;
  padding: 24px;
  position: absolute;
  width: 80%;
  z-index: 1;
}
.cm-modal h3 {
  margin-top: 0;
}

.cm-table {
  margin-bottom: 24px;
  width: 100%;
}
.cm-table td {
  border-top: #ccc 1px solid;
  padding: 12px;
}

a.btn, button.btn {
  background-color: #0077b6;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 24px;
  text-decoration: none;
  vertical-align: middle;
}

a.btn:hover {
  background-color: #0096c7;
  border: 0;
  text-decoration: none;
}

input.form-control, textarea.form-control, select.form-control {
  border: #0077b6 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  height: 50px;
  padding: 12px;
  vertical-align: middle;
}

select.form-control {
  -webkit-appearance: none;
  background: url(data:image/webp;base64,UklGRpwAAABXRUJQVlA4TI8AAAAvD8ADEHU4rG03bZSkzMzMjPtPx7CAvmSrEQwZSRI0BoNwCIvwCIvwyI2yCD0B/P3XvfYZuy7l8B09sO8jp0exvrW2ZtV7usZsffN/ptmUSW8wxcz+PNrBDXQD+qUwBjjnR0th7kz72jrfHOfbOg++rU/1qkIVUKbcL70CBQFY6fHjbNOkhVd+Nt4IZcqPAgA=);
  background-repeat: no-repeat;
  background-position: right 15px center;
  padding-right: 48px;
}

a.btn:link, a.btn:visited, a.btn:hover, a.btn:active {
  color: #fff;
}

form.form-vertical {
  width: 100%;
}
form.form-vertical input[type=text], form.form-vertical input[type=email], form.form-vertical input[type=password], form.form-vertical input[type=file], form.form-vertical textarea {
  margin-bottom: 12px;
  width: 100%;
}
form.form-vertical select {
  margin-bottom: 12px;
  width: 100%;
}
form.form-vertical small {
  color: #666;
}
form.form-vertical textarea {
  height: 144px;
}
form.form-vertical label {
  display: block;
  margin-bottom: 6px;
}

body {
  margin: 0;
}

footer {
  background-color: #eee;
  padding: 48px;
  text-align: center;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: #000;
  text-decoration: underline;
}
footer hr {
  display: none;
}

header {
  background-color: #333;
}
header a:link, header a:visited, header a:hover, header a:active {
  color: #fff;
  text-decoration: none;
}
header hr {
  display: none;
}

main {
  padding: 24px;
}

.course-view article h1 {
  font-size: 200%;
  margin-top: 0;
}
.course-view article p {
  max-width: 700px;
}
.course-view header {
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 160%;
  height: 75px;
  justify-content: space-between;
  line-height: 75px;
  overflow: hidden;
  padding: 0 24px;
}
.course-view header button {
  all: unset;
}
@media only screen and (min-width: 700px) {
  .course-view header button {
    display: none;
  }
}
.course-view main {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 75px;
  right: 0;
  overflow: auto;
}
@media only screen and (min-width: 700px) {
  .course-view main {
    left: 300px;
  }
}
.course-view nav {
  background-color: #eee;
  bottom: 0;
  overflow: auto;
  position: fixed;
  top: 75px;
  width: 0%;
  z-index: 10;
  transition: width 0.25s;
}
.course-view nav.active {
  width: 100%;
}
@media only screen and (min-width: 700px) {
  .course-view nav {
    width: 300px;
  }
}
.course-view nav a {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}
.course-view nav a:link, .course-view nav a:visited, .course-view nav a:hover, .course-view nav a:active {
  color: #333;
  text-decoration: none;
}
.course-view nav a:hover, .course-view nav a:active {
  background-color: #d5d5d5;
}
.course-view nav h2 {
  margin: 0;
}
.course-view nav h3 {
  margin: 0;
  padding: 12px 24px;
}
.course-view nav ol {
  margin: 0;
  padding: 0;
}
.course-view nav ol li {
  list-style-type: none;
}
.course-view nav ol li.active {
  background-color: white;
}

.site-view header {
  align-items: center;
  font-size: 200%;
  text-align: center;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.site-view header div.logo {
  height: 150px;
  margin-bottom: 24px;
  width: 300px;
}
.site-view header div.logo img {
  max-width: 100%;
  max-height: 100%;
}
.site-view main {
  margin: 0 auto;
  max-width: 700px;
  padding: 24px;
}

.course-list {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0;
}
.course-list .course-list-image {
  background: linear-gradient(135deg, #e1e1e1 25%, transparent 25%) -50px 0, linear-gradient(225deg, #e1e1e1 25%, transparent 25%) -50px 0, linear-gradient(315deg, #e1e1e1 25%, transparent 25%), linear-gradient(45deg, #e1e1e1 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #cfd8dc;
  height: 200px;
  overflow: hidden;
}
.course-list .course-list-image img {
  min-height: 200px;
  width: 100%;
}
.course-list a:link, .course-list a:visited {
  color: #000;
  text-decoration: none;
}
.course-list h3 {
  margin: 0;
  padding: 24px;
}
.course-list li {
  border: #999 1px solid;
  border-radius: 6px;
  list-style-type: none;
}

.module-list {
  padding: 0;
}
.module-list div {
  background-color: #eee;
  padding: 24px;
}
.module-list > li {
  border: #999 1px solid;
  border-radius: 6px;
  list-style-type: none;
  margin-bottom: 24px;
}
.module-list h3, .module-list p {
  margin: 0;
}
.module-list ol {
  margin: 0;
  padding: 12px;
}
.module-list ol li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 12px;
}

table.table {
  width: 100%;
  border-collapse: collapse;
}
table.table thead {
  border-bottom: #DDDDDD 2px solid;
}
table.table thead th {
  text-align: left;
}
table.table thead th.text-right {
  text-align: right;
}
table.table td, table.table th {
  padding: 12px;
}

table.table-striped tbody tr:nth-child(odd) {
  background: #f3f3f3;
}

.tabs {
  border-bottom: #999 1px solid;
  padding: 0;
}
.tabs li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: -1px;
  padding: 12px;
}
.tabs li a:link, .tabs li a:visited {
  text-decoration: none;
}
.tabs li a:hover, .tabs li a:active {
  text-decoration: underline;
}
.tabs li.active {
  background-color: #fff;
  border-left: #999 1px solid;
  border-top: #999 1px solid;
  border-right: #999 1px solid;
}

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.responsive-embed iframe, .responsive-embed object, .responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=screen.css.map */
