{{#user}}
<h1>Dashboard</h1>

<p>Logged in as {{name}}. <a href="/account">Manage account</a>. <a href="/logout">Logout</a>.{{#isAdmin}} <a href="/admin">Admin</a>.{{/isAdmin}}</p>

<h2>My courses</h2>

{{#hasCourses}}
<ul class="course-list">
{{#getCourses}}
    <li>
    {{#getCourse}}
        <div class="course-list-image"><a href="/course/{{getSlug}}">{{#getImage}}<img src="/content/images/crops/16-9/400/{{getFilename}}" alt="{{getDescription}}">{{/getImage}}</a></div>
        <h3><a href="/course/{{getSlug}}">{{getName}}</a></h3>
    {{/getCourse}}
    </li>
{{/getCourses}}
</ul>
{{/hasCourses}}

{{^hasCourses}}<p>You are not currently enrolled on any courses.</p>{{/hasCourses}}
{{/user}}

{{#isAdmin}}
<h2>All courses</h2>

<ul class="course-list">
{{#allCourses}}
    <li>
        <div class="course-list-image"><a href="/course/{{getSlug}}">{{#getImage}}<img src="/content/images/crops/16-9/400/{{getFilename}}" alt="{{getDescription}}">{{/getImage}}</a></div>
        <h3><a href="/course/{{getSlug}}">{{getName}}</a></h3>
    </li>
{{/allCourses}}
</ul>

{{^allCourses}}<p>No courses found.</p>{{/allCourses}}
{{/isAdmin}}
