<!DOCTYPE html>
<html>
<head>
    {{#meta}}
    <title>{{getTitle}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{getDescription}}">
    <meta name="keywords" content="{{getKeywords}}">
    {{#getOgTitle}}<meta property="og:title" content="{{.}}">{{/getOgTitle}}
    {{#getOgImage}}<meta property="og:image" content="{{.}}">{{/getOgImage}}
    {{#getFavicon}}<link rel="shortcut icon" href="{{.}}">{{/getFavicon}}
    {{/meta}}
    <link href="/styles/screen.css" rel="stylesheet">
    <link href="/components/fontawesome/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
</style>
</head>
<body>

    {{#courseView}}
    <div class="course-view">
        <header>
            <button><i class="fas fa-bars"></i></button>
            <a href="/">{{siteName}}</a>
            <a href="/"><i class="fas fa-home"></i></a>
            <hr>
        </header>

        {{{body}}}
    </div>
    {{/courseView}}
    
    {{^courseView}}
    <div class="site-view">
        <header>
            <div class="logo">{{#theme}}{{#getLogo}}<a href="/"><img src="{{.}}" alt=""></a>{{/getLogo}}{{/theme}}</div>
            <div><a href="/">{{siteName}}</a></div>
            <hr>
        </header>
        <main>
            {{#alerts}}
            <div class="alert alert-{{type}}" role="alert">
                ⚠️ {{message}}
            </div>
            {{/alerts}}

            {{{body}}}
        </main>

        <footer>
            <hr>
            {{#theme}}{{#getFooterText}}<p>{{.}}</p>{{/getFooterText}}{{/theme}}
            Powered by <a href="https://www.kuusamo.org/" target="_blank">Kuusamo</a>.
        </footer>
    </div>
    {{/courseView}}

    {{#theme}}
    <style>
        {{#getColours}}{{#primary}}
        a:link, a:visited { color: {{.}}; }
        a:hover, a:active { color: {{highlight}}; }
        header { background-color: {{.}}; }
        input.form-control, select.form-control, textarea.form-control { border-color: {{.}}; }
        a.btn, button.btn { background-color: {{.}}; }
        a.btn:hover, button.btn:hover:enabled { background-color: {{highlight}}; }
        .course-progress-bar .course-progress-bar__indicator { background-color: {{fade}}; }
        {{/primary}}{{/getColours}}
        {{#isLogoFlush}}header { padding-top: 0 !important; }{{/isLogoFlush}}
    </style>
    {{/theme}}

</body>
</html>
