<h1>Setup</h1>

<p>
    Use the form below to create your admin account.
</p>

{{#user}}
<form method="post" class="form-vertical">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" maxlength="128" class="form-control" value="{{getEmail}}">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control">

    <label for="confirm">Confirm password</label>
    <input type="password" name="confirm" id="confirm" class="form-control">

    <label for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName" class="form-control" value="{{getFirstName}}">

    <label for="surname">Surname</label>
    <input type="text" name="surname" id="surname" class="form-control" value="{{getSurname}}">

    <button type="submit" class="btn">Create user</button>
</form>
{{/user}}
